.survivor-detail {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
  flex: 1;
  z-index: 0;
}

.survivor-detail:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: var(--spacing--2xl) var(--spacing--md) 0;
  transform: translateY(-50%);
  background-image: url("/blood.png");
  background-size: contain;
  background-repeat: repeat no-repeat;
  z-index: -1;
  transition: opacity 250ms linear 150ms, transform 450ms ease-in-out;
  opacity: 0;
}

.survivor-detail.infected:before {
  transform: translateY(var(--spacing--2xl));
  opacity: 1;
}

.survivor-detail > aside {
  flex: 0 1 auto;
  display: flex;
  align-items: flex-end;
}

.survivor-detail > section {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  justify-content: center;
  text-align: center;
  gap: var(--spacing-md);
  align-items: center;
}

.survivor-detail > section > *:not(:last-child) {
  background: #000;
  box-shadow: 0 0 0 var(--spacing-xs) #000;
  color: #fff;
}

.survivor-detail > section > :nth-child(n) {
  transform: rotate(-1deg);
}

.survivor-detail > section > :nth-child(2n) {
  transform: rotate(1deg);
}

.survivor-detail > section > :nth-child(3n) {
  transform: rotate(-2deg);
}

.survivor-detail figure {
  position: relative;
  margin: 0;
  transform: translatey(var(--spacing-2xl));
  filter: drop-shadow(-10px -5px 20px rgba(0, 0, 0, 0.75));
}

.full-name {
  font-weight: normal;
  font-size: 2rem;
  line-height: 2rem;
  margin: 0;
}

.full-name strong {
  font-weight: 600;
  font-size: 1.25em;
}

.bio {
  margin: 0;

  font-size: 1.2rem;
}

@media (max-width: 968px) {
  .survivor-detail {
    flex-flow: column nowrap;
  }

  .survivor-detail > aside {
    order: 1;
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -10;
  backdrop-filter: grayscale(1);
  transition: all 450ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.45);
}

.survivor-detail.infected .backdrop {
  opacity: 1;
}

.infected-indicator {
  opacity: 0;
  font-size: var(--spacing-2xl) !important;
  transition: opacity 250ms ease-in-out;
}

.survivor-detail.infected .infected-indicator {
  opacity: 1;
}
