.skill-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm);
  font-size: 0.8rem;
  font-weight: 600;
}

.skill-list > li {
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  gap: var(--spacing-sm);
  align-items: center;
}
