.survivor-card {
  /*
  background-color: #a4895c;
  background-color: #252b1f;
  background-color: #5b533f;
  background-color: #3f3b2e;
  background-color: #96794e;
  background-color: #736246;
  */
  position: relative;
  padding: var(--spacing-md);
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-sm);
  box-shadow: var(--spacing-sm) var(--spacing-sm) var(--spacing-md)
    var(--spacing--sm) rgba(0, 0, 0, 0.6);

  background-image: url("/bg-texture.jpg");
  background-blend-mode: screen;
}

.survivor-card figure {
  position: relative;
  margin: var(--spacing--2xl) 0 0;
}

.survivor-card figure:before,
.survivor-card figure:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: var(--spacing-lg) var(--spacing--md) var(--spacing-xs);
  z-index: 0;
  mix-blend-mode: color-burn;
}

.survivor-card figure:before {
  background-color: #bbb;
  box-shadow: inset 0 var(--spacing--sm) var(--spacing-sm) rgba(0, 0, 0, 0.6);
}

.survivor-card.infected {
  background-color: #631608;
}

.survivor-card.infected figure:before {
  background-color: #d97979;
}

.survivor-card.infected figure:after {
  background-image: url("/blood.png");
  background-size: contain;
  background-repeat: repeat no-repeat;
}

.survivor-card figure img {
  z-index: 1;
  transform: translateY(-1px);
  filter: drop-shadow(-3px 0 2px rgba(0, 0, 0, 0.5));
}

.button {
  background-color: #000;
  color: #fff;
  padding: var(--spacing-sm);
  box-sizing: border-box;
}

.button:is(:hover, :active, :focus) {
  text-decoration: underline;
}

.full-name {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1rem;
  margin: 0;
}

.full-name strong {
  font-weight: 600;
  font-size: 1.25rem;
}
