.survivor {
  background: #4d481e;
  padding: var(--spacing-md);
  border-radius: var(--spacing-sm);
}

.survivor figure {
  margin: 0;
}

.infected {
  background: red;
}

.button {
  background-color: #000;
  color: #fff;
}

.button:is(:hover, :active) {
  text-decoration: underline;
}

.full-name {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1rem;
}

.full-name strong {
  font-weight: 600;
  font-size: 1.25rem;
}
