:root {
  --brand-highlight: #ff0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  align-items: center;
  background-color: var(--brand-highlight);
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  padding: 16px;
}

main > :first-child {
  margin-top: auto;
}

main > :last-child {
  margin-bottom: auto;
}
