:root {
  --brand-highlight: #ffb101;
  --spacing-xs: 4px;
  --spacing-sm: calc(var(--spacing-xs) * 2);
  --spacing-md: calc(var(--spacing-sm) * 2);
  --spacing-lg: calc(var(--spacing-sm) * 3);
  --spacing-xl: calc(var(--spacing-sm) * 4);
  --spacing-2xl: calc(var(--spacing-sm) * 5);
  --spacing--xs: calc(var(--spacing-xs) * -1);
  --spacing--sm: calc(var(--spacing-sm) * -1);
  --spacing--md: calc(var(--spacing-md) * -1);
  --spacing--lg: calc(var(--spacing-lg) * -1);
  --spacing--xl: calc(var(--spacing-xl) * -1);
  --spacing--2xl: calc(var(--spacing-2xl) * -1);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 0.9rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  align-items: center;
  background-color: var(--brand-highlight);
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  padding: var(--spacing-md);
  overflow: hidden;
  background-image: url("/bg-texture.jpg");
  background-blend-mode: luminosity;
  background-blend-mode: overlay;
  background-blend-mode: soft-light;
}

main:before,
main:after {
  content: "";
  height: 120px;
  width: 100vw;
  display: block;
  margin: var(--spacing--md);
  background-image: linear-gradient(
      -180deg,
      transparent,
      rgba(255, 255, 255, 0.2) 50%,
      transparent 70%
    ),
    repeating-linear-gradient(
      -55deg,
      #000,
      #000 75px,
      var(--brand-highlight) 75px,
      var(--brand-highlight) 150px
    );
  z-index: 1;
}

main:before {
  top: 0;
  box-shadow: 0 var(--spacing-sm) var(--spacing-xl) var(--spacing-sm)
    rgba(0, 0, 0, 0.6);
  transform: skewy(-2deg) translatey(var(--spacing--lg));
}

main:after {
  bottom: 0;
  box-shadow: 0 var(--spacing-sm) var(--spacing-xl) var(--spacing-sm)
    rgba(0, 0, 0, 0.6);
  transform: skewy(-2deg) translatey(var(--spacing-lg));
}

main > :first-child {
  margin-top: auto;
}

main > :last-child {
  margin-bottom: auto;
}
